* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.App header {
    background-color: #a272b9;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.container  {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.TodoForm {
    margin: 30px 20px;
    display: flex;
    align-items: center;
}

.TodoForm input {
    width: 100%;
    max-width: 300px;
    height: 30px;
    padding-left: 5px;
}

.btn-submit {
    padding: 7px 12px;
    background-color: #a272b9;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.TodoList {
    margin: 30px 20px;
}

.TodoList li {
    list-style: none;
}

.check {
    text-decoration: line-through;
}

.card {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 1px 5px 0.5px #a272b9;
    padding: 10px;
    font-size: 17px;
}

.task-text {
    width: 80%;
    overflow-wrap: break-word;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 70px;
}

.trash-icon, .check-icon {
    border: none;
    background-color: white;
    cursor: pointer;
}

.trash-icon img, .check-icon img {
    width: 20px;
}

.button-modal {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #a272b9;
    color: white;
    font-weight: bold;
}

.modal {
    width: 550px;
    height: 400px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    box-shadow: -2px 2px 15px 1px #a272b9d2;
    padding: 20px;
}

.modal textarea {
    width: 500px;
    height: 250px;
    border-color: rgba(161, 161, 161, 0.201);
    margin: 20px 0;
}


@media screen and (max-width: 500px)  {
    .card {
        flex-direction: column;
    }

    .btns {
        margin-top: 20px;
    }
}