* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.App header {
    background-color: #a272b9;
    text-align: center;
    color: white;
}

.container  {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.TodoForm {
    margin: 30px 20px;
    display: flex;
    align-items: center;
}

.TodoForm input {
    width: 100%;
    max-width: 300px;
    height: 30px;
    padding-left: 5px;
}

.TodoForm button {
    padding: 5px 10px;
    background-color: #a272b9;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.TodoList {
    margin: 30px 20px;
}

.TodoList li {
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-options {
    /* margin-right: 100px; */
}

.trash-icon, .check-icon {
    margin-left: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.trash-icon img, .check-icon img {
    width: 20px;
}

.check {
    text-decoration: line-through;
}